
.a1
{
	position: absolute;
	width: 94px;
	height: 122px;
	top: 31%;
	right: 79%;
}
.a2
{
	position: absolute;
	width: 94px;
	height: 122px;
	top: 33%;
	right: 57%;
}
.a3
{
	position: absolute;
	width: 94px;
	height: 122px;
	top: 31%;
	right: 32%;
}
.b1
{
 position: absolute;
 top: 87%;
 right: 43%;
}
.h2
{
 position: absolute;
 top: 25%;
 right: 36%;
}
.p1
{
	position: absolute;
	top: 32%;
	right: 68%;
}
.p2
{
	position: absolute;
	top: 41%;
	right: 48%;
}
.p3
{
	position: absolute;
	top: 41%;
	right: 29%;
}
.p4
{
	position: absolute;
	top: 31%;
	right: 10%;
}






